/* Common styles for Smart Farm Landing Page */

body {
    font-family: 'Noto Sans KR', 'Malgun Gothic', 'Apple SD Gothic Neo', 'Nanum Gothic', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px; /* 기본 폰트 크기 증가 */
    line-height: 1.6; /* 줄 간격 조정 */
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5em;
    font-weight: bold;
    color: #222;
}

p {
    margin-bottom: 1em;
}


header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em; /* 스마트팜 글씨 크기 키우기 */
    letter-spacing: 3px; /* 글자 간격 추가 */
    margin-bottom: 0.5em; /* 하단 여백 추가 */
}


nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
    text-align: center; /* 텍스트 가운데 정렬 */
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    bottom: 0;
    width: 100%;
}
